html {
    background: #222;
    color: #FFF;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

body {
    max-width: 1080px;
    padding: clamp(48px, 64px + 2vw, 128px);
}

h1 {
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: clamp(24px, 24px + 2vw, 48px);
}

h2 {
    font-weight: 500;
    font-size: clamp(20px, 20px + 2vw, 36px);
    padding-top: 1.5rem;
}

h3 {
    font-weight: 500;
    font-size: clamp(18px, 18px + 2vw, 24px);
    padding-top: 1.5rem;
}

h4 {
    font-weight: 500;
    font-size: clamp(18px, 18px + 2vw, 24px);
    padding-top: 1.5rem;
}

h5 {
    font-weight: 400;
    font-size: clamp(16px, 16px + 1vw, 18px);
    padding-top: 1rem;
}

h5 {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: clamp(18px, 18px + 2vw, 24px);
}

p {
    color: #d7d7d7;
    font-weight: 300;
    font-size: clamp(12px, 12px + 1vw, 16px);
    margin-bottom: 1em;
}